"" Install plug-ins: IdeaVim, AceJump, IdeaVim-EasyMotion, IdeaVim-Sneak

let mapleader=" "
noremap ; :
set scrolloff=5
set incsearch
set hlsearch
set number
set relativenumber
set visualbell
set idearefactormode=keep

vnoremap y ygv<Esc>$
nnoremap Y y$
nnoremap ,y "+y
vnoremap ,y "+y
nnoremap ,yy "+yy
nnoremap ,p "+p
nnoremap x "_x
nnoremap d "_d
nnoremap c "xc
xnoremap c "xc
nmap X "_d
nmap XX "_dd
vmap X "_d
vmap x "_d

Plug "machakann/vim-highlightedyank"
Plug "tpope/vim-commentary"
Plug "easymotion/vim-easymotion"
Plug "preservim/nerdtree"

set sneak
set easymotion
set NERDTree

g:EasyMotion_startofline 0

" Windows
map     <S-e>               :NERDTreeToggle<CR>
map     <S-t>               <Action>(ActivateTerminalToolWindow)
map     <S-h>               <Action>(HideActiveWindow)
map     <S-d>               <action>(ActivateDebugToolWindow)
map     <S-s>               <Action>(ShowSettings)

" Actions
map     <leader>da          <Action>(VimFindActionIdAction)
map     <leader>vz          <Action>(ToggleZenMode)
map     <leader>vd          <Action>(ToggleDistractionFreeMode)
map     <leader>vp          <Action>(TogglePresentationMode)
map     <leader>d           <Action>(Debug)
map     <leader>r           <Action>(Run)
map     <leader>s           <Action>(Stop)
map     <leader>ww          <Action>(SaveAll)
map     <leader>w           <Action>(SaveDocument)
map     <leader><enter>     <Action>(ShowIntentionActions)
map     <leader>rc          <Action>(ReformatCode)
map     <leader>fn          <Action>(NewFile)
map     <leader>r           <Action>(RenameElement)
map     <leader>se          <Action>(SearchEverywhere)
map     <leader>sf          <Action>(GotoFile)
map     <leader>ss          <Action>(GotoSymbol)
map     <leader>sc          <Action>(GotoClass)
map     <leader>sa          <Action>(GotoAction)
map     <leader>sh          <Action>(GotoSuperMethod)
map     <leader>st          <Action>(TextSearchAction)
map     <leader>sn          <Action>(ShowNavBar)
map     <leader>sm          <Action>(FileStructurePopup)
map     <leader>db          <Action>(ToggleLineBreakpoint)
map     <leader>dt          <Action>(ToggleBreakpointEnabled)
map     <leader>gp          <Action>(QuickImplementations)
map     <leader>gd          <Action>(GotoDeclaration)
map     <leader>gu          <Action>(FindUsages)
map     <leader>ci          <Action>(ReSharperGotoImplementation)
map     <leader>em          <Action>(ExtractMethod)

map     g                   <Action>(AceAction)
"map     F                   <Action>(AceTargetAction)
"map     g                   <Action>(AceLineAction)
